/* Global Styles */
body {
  font-family: Arial, sans-serif;
  /* background-color: #333; */
  /* background: linear-gradient(to bottom, #111111, #585858, #FFA766) ; */
  background: linear-gradient(to bottom, #111111, #585858, #a8a8a8) ;
  /* background: linear-gradient(to right, #FD8E51, #FFA766); */
  font-family: 'Montserrat', sans-serif;

  /* background-image: url('img/bgDots.jpg'); */
  background-attachment: fixed;
  background-size: fill;
  background-repeat: no-repeat;
  background-position: center center;


  color: #fff;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 40px;
  /* background: linear-gradient(to right, #D9D9D9, #afafaf); */
  /* background-color: #D9D9D9; */
  border-radius: 50px;
  /* margin-top: 0px; */
}

/* Header Styles */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #FD8E51;
  
}

.splash-content{
  backdrop-filter: blur(20px);
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  /* padding: 100px; */
}


nav ul {
  list-style: none;
  display: flex;
  gap: 50px;
}

nav a {
  color:#FD8E51;
  text-decoration: none;
}

nav a:hover {
  color: #FFA766;
}

/* Hero Section Styles */
.hero {
  text-align: center;
  margin-bottom: 60px;
}

.hero h2{
  font-size: 62px;
}

.title {
  font-size: 36px;
  margin-bottom: 20px;
  /* color: #FD8E51; */
  color: #fff;
  font-weight: 100;
}

.subtitle {
  font-size: 18px;
  margin-bottom: 40px;
  color: white;
}

.cta-button {
  display: inline-block;
  background: linear-gradient(to right, #FD8E51, #FFA766);
  color: #fff;
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
  transition: background 0.2s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.cta-button:hover {
  background: linear-gradient(to right, #FFA766, #FD8E51);
}

/* Features Section Styles */
.features {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.feature {
  text-align: center;
  /* background-color: #333; */
  /* background: linear-gradient(to right, #2e2e2e, #585858); */
  padding: 40px;
  /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); */
  border-radius: 20px;
}

.feature img {
  width: 100%;
  max-width: 400px;
  height: auto;
  margin-bottom: 20px;
  border-radius: 10px;
  /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4); */
}

.feature h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333; 
  color: #FD8E51;
}

.feature p {
  font-size: 14px;
  color: #fff;
}

/* Footer Styles */
footer {
  text-align: center;
  margin-top: 40px;
}

.footer-text {
  font-size: 14px;
}