<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
    <!--
       <link rel="stylesheet" media="screen" href ="static/bootstrap.min.css">
       <link rel="stylesheet" href="static/bootstrap-theme.min.css">
       <meta name="viewport" content = "width=device-width, initial-scale=1.0">
     -->
       <link href="https://fonts.googleapis.com/css?family=Londrina+Solid:300|Roboto" rel="stylesheet">
       <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
       <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
       <link rel="stylesheet" href="static/custom.css">
    </head>
<body>

      <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">
              <div id="logo-container"><img src="static/img/ghost-logo-w_shadow.svg" alt="logo" width="140px"></div>
              <div id="name-container"><span class="navbar-text"><span class="nav-title">GHOST<span class="nav-title-color">.LINK</span></span></span></div>
            </a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-4">
            <ul class="nav navbar-nav">
              <li><form method="get" action="#">
                  <button class="btn btn-default navbar-btn btn-lg">
                    <span class="glyphicon glyphicon-home" style="margin-right: 5px;"></span>Home
                    </button>
                </form>
             </li>
              <li><form method="get" action="results.html"></a><button class="btn btn-default navbar-btn btn-lg"><span class="glyphicon glyphicon-align-left" style="margin-right: 5px;"></span>Results</button></form></li>
              <li><form method="get" action="api.html"></a><button class="btn btn-default navbar-btn btn-lg"><span class="glyphicon glyphicon-flash" style="margin-right: 5px;"></span>API</button></form></li>
              <li><form method="get" action="about.html"></a><button class="btn btn-default navbar-btn btn-lg"><span class="glyphicon glyphicon-info-sign" style="margin-right: 5px;"></span>About</button></form></li>
            </ul>
          </div>
        </div>
     </nav>
     <br>
  <div class="container">
    <h2 class="title text-center">GHOST<span class="title-color">.LINK</span> </h2>
    <!-- <h4 class="text text-center">Detect malicious URLs</h4> -->
   
    <h4 class="text text-center">Look before you leap. Check the Source.</h4>
    <br><br><br>
    <form action="/submit" method="post">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="input-group input-group-lg">
            <input type="text" class="form-control" name="url" placeholder="Enter URL" spellcheck="false">
            <span class="input-group-btn">
            
            <button onMouseOver="this.style.backgroundColor='#999'; this.style.color='#555'"  onMouseOut="this.style.backgroundColor='#5ABA47'; this.style.color='white'" 
            type="button" class="btn btn-primary" name="submit" onClick="location.href='submit.html';" style="background-color: #5ABA47; "><span class="glyphicon glyphicon-search"></span></button>
            
            </span>
          </div>
          </div>
        </div>
    </form>
  </div>
<br><br><br><br>
  <div class="container">
    <h3>Recently Scanned</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>URL</th>
          <th>Time Submitted</th>
        </tr>
      </thead>
      <tbody>
        {% if scan %}
          {% for value in scan[:3] %}
            <tr>
              <td>{{ value['url'] }}</td>
              <td>{{ value['scanned_time'] }} EST</td>
            </tr>
          {% endfor %}
        {% else %}
          <tr>
            <td> No current results! </td>
          </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
</body>
</html>